.featured-job-container{
    width: 80%;
    margin: 25px auto;
}

.featured-job-title{

}
.featured-job-info{

}
.featured-job-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.company-img{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.featured-job{
    width: 485px;
    padding: 20px;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    line-height: 15px;
}

.remote{
    color: #8e7eff;
    border: 1px solid #7e90ff;
    background-color: #ffffff;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 15px;
    border-radius: 5px;
}
.remote:hover{
    cursor: pointer;
    background-color: #8c7dfd;
    color: #ffffff;
}
.loc-salary{
    display: flex;
    gap: 40px;
}
.see-all-job{
    margin-top: 25px;
    text-align: center;
    margin-bottom: 40px;
}

.view-details{
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.view-details a{
    text-decoration: none;
    padding: 10px;
}
.fa-icon-color1{
    color: #7a7a7a;
}
