.featured-job-container{
    width: 80%;
    margin: 25px auto;
}
.featured-job-title{

}
.featured-job-info{
    
}
.company-img{
    width: 100px;
    height: 40px;
}
.featured-job{
    width: 500px;
}
.featured-job-container{
    
}