.header-wrap{
    background-color: #f9f9ff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header{
    width: 80%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    margin-left: 30px;
}

.apply{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 6px;
    padding: 10px;
    border: 1px solid rgb(61, 103, 241);
    color: #ffffff;
}
.apply:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #435af0 0%, #b89ffc 100%);
}

